.profile {
    margin: 0 auto 0 auto;
}

.profile__welcome {
    font-size: 24px;
    text-align: center;
    margin: 74px auto 40px auto;
    font-weight: 500;
}

.profile__form {
    margin: 0 auto 0 auto;
    max-width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__input {
    width: 410px;
    font-weight: 500;
    font-size: 11px;
}

.profile__input-text {
    margin: 0 0 6px 0;
    font-weight: 400;
    font-size: 11px;
    border: none;
    max-height: 14px;
    width: 285px;
    margin-left: 85px;
    direction: rtl;
}

.profile__error {
    color: #FF3055;
    font-size: 10px;
    font-weight: 400;
}

.profile__line {
    width: 410px;
    height: 1px;
    border-bottom: 1px solid #E8E8E8;
    margin: 16px auto 16px auto;
}

.profile__button {
    height: 16px;
    font-weight: 400;
    font-size: 13px;
    border: none;
    background-color: #FFFFFF;
    margin: 220px auto 16px auto;
 }

.profile__button:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.profile__button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.profile__link {
    height: 16px;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    color: #FF3055;
    margin: 0 auto 78px auto;
    border: none;
    background-color: #FFFFFF;
    display: flex;
}

.profile__link:hover {
    cursor: pointer;
    opacity: 0.6;
}

 @media (max-width: 1279px) {
    .profile__welcome {
      margin: 236px auto 40px auto;
    }

    .profile__button {
      margin: 210px auto 16px auto;
    }

    .profile__link {
      margin: 0 auto 269px auto;
   }
}

@media (max-width: 768px) {
    .profile__input {
      width: 260px;
      margin-left: 30px;
    }

    .profile__input-text {
      width: 190px;
      margin-left: 30px;
    }

    .profile__line {
      width: 260px;
    }

    .profile__welcome {
      margin: 70px auto 40px auto;
    }

    .profile__button {
      margin: 379px auto 16px auto;
    }

    .profile__link {
      margin: 0 auto 34px auto;
   }
}