.card {
    height: 318px;
    width: 359px;
    background-color: #FDFDFD;
    border-radius: 6px;
    box-shadow: 0 0 10px 5px #F9F9F9;
    border: 1px solid #FDFDFD;
}

.card__description {
    margin: 18px 0 18px 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__description_name {
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    width: 240px;
}

.card__description_duration {
    margin: 0 10px 0 0;
    font-weight: 400;
    font-size: 13px;
    color: #A0A0A0;
}

.card__image {
    width: 360px;
    height: 200px;
}

@media (max-width: 1279px) {
    .card {
      height: 309px;
      width: 342px;
    }

    .card__image {
      width: 342px;
      height: 190px;
    }

    .card__description_name {
      width: 224px;
    }
}

@media (max-width: 767px) {
    .card {
      height: 271px;
      width: 300px;
    }

    .card__image {
      width: 300px;
      height: 168px;
    }

    .card__description {
      margin: 14px 0 14px 14px;
    }

    .card__description_name {
      width: 200px;
      font-size: 12px;
    }

    .card__description_duration {
      font-size: 10px;
    }
}
