.techs {
    height: 625px;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

.techs__header {
    margin: 100px 0 0 70px;
    width: 1140px;
    height: 51px;
    color: #000000;
    font-weight: 400;
    font-size: 22px;
    border-bottom: 1px solid #000000;
}

.techs__information {
    margin: 90px auto 0 auto;
    text-align: center;
    color: #000000;
    font-weight: 400;
    font-size: 50px;
}

.techs__information_description {
    margin: 26px auto 0 auto;
    width: 460px;
    text-align: center;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}

.namesOfTechs {
    margin: 100px auto 0 auto;
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(7, 90px);
    grid-template-rows: 60px;
}

.namesOfTechs__name {
    width: 90px;
    height: 38.5px;
    padding-top: 21.5px;
    text-align: center;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    background-color: #E8E8E8;
    border-radius: 10px;
}

@media (max-width: 1279px) {
    .techs {
      height: 567px;
    }

    .techs__header {
      margin: 90px 0 0 70px;
      width: 668px;
    }

    .techs__information {
      margin: 80px auto 0 auto;
    }

    .techs__information_description {
        margin: 26px auto 0 auto;
        font-size: 12px;
    }

    .namesOfTechs {
      margin: 83px auto 0 auto;
      grid-template-columns: repeat(7, 84px);
      grid-template-rows: 57px;
    }
}

@media (max-width: 767px) {
    .techs {
      height: 651px;
    }

    .techs__header {
      margin: 70px 0 0 18px;
      width: 284px;
    }

    .techs__information {
      margin: 60px auto 0 auto;
      font-size: 30px;
    }

    .techs__information_description {
        margin: 24px auto 0 auto;
        font-size: 11px;
        width: 292px;
    }

    .namesOfTechs {
      margin: 50px auto 0 auto;
      grid-template-columns: repeat(2, 84px);
      grid-template-rows: repeat(4, 57px);
    }
}