@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(Main/Main.css);
@import url(Main/Promo/Promo.css);
@import url(Main/AboutProject/AboutProject.css);
@import url(Main/AboutMe/AboutMe.css);
@import url(Main/Techs/Techs.css);
@import url(Main/Portfolio/Portfolio.css);
@import url(Header/Header.css);
@import url(Header/HeaderPopup/HeaderPopup.css);
@import url(Preloader/Preloader.css);
@import url(Movies/SearchForm/SearchForm.css);
@import url(Movies/SearchForm/FilterCheckbox/FilterCheckbox.css);
@import url(MoviesCardForm/MoviesCardForm.css);
@import url(Movies/MoviesCard/MoviesCard.css);
@import url(Movies/MoviesCardList/MoviesCardList.css);
@import url(SavedMovies/MoviesCard/MoviesCard.css);
@import url(SavedMovies/MoviesCardList/MoviesCardList.css);
@import url(Login/Login.css);
@import url(Register/Register.css);
@import url(Profile/Profile.css);
@import url(Mistake/Mistake.css);
@import url(Footer/Footer.css);

.page {
    max-width: 1280px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    margin: 0 auto 0 auto;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  @media (max-width: 1279px) {
    .page {
      max-width: 768px;
    }
  }
  
  @media (max-width: 767px) {
    .page {
      max-width: 320px;
    }
  }
