.register {
    min-height: 100vh;
    max-width: 396px;
    margin: 0 auto 0 auto;
}

.register__logo {
    height: 38px;
    width: 38px;
    margin: 70px 0 40px 0;
}

.register__welcome {
    font-size: 24px;
    margin: 0 0 40px 0;
    font-weight: 500;
    line-height: 1.21;
}

.register__form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register__input {
    color: #A0A0A0;
    font-weight: 400;
    font-size: 10px;
}

.register__input-text {
    margin: 0 0 24px 0;
    padding: 0 0 10px 0;
    font-weight: 400;
    font-size: 14px;
    border: none;
    width: 396px;
    height: 28px;
    border-bottom: 1px #E8E8E8 solid;
}

.register__button {
    margin: 134px 0 0 0;
    height: 45px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    border: none;
    background-color: #3456F3;
    color: #FFFFFF;
}

.register__login {
    margin: 16px auto 21px auto;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    color: #A0A0A0;
    width: 216px;
}

.register__login_question {
    margin: 0;
}

.register__login_link {
    margin: 0 0 0 6px;
    color: #3456F3;
}

@media (max-width: 1279px) {
    .register__logo {
      margin: 232px 0 40px 0;
    }

    .register__login {
        margin: 16px auto 232px auto;
    }
}

@media (max-width: 768px) {
    .register {
        max-width: 260px;
    }

    .register__logo {
      margin: 56px auto 50px auto;
      display: flex;
      justify-content: center;
    }

    .register__welcome {
        margin: 0 auto 80px auto;
        text-align: center;
    }

    .register__input-text {
        width: 260px;
    }

    .register__login {
        margin: 16px auto 30px auto;
        font-size: 12px;
    }

    .register__button {
        margin: 222px 0 0 0;
    }

}