.cardlist {
  margin: 70px 0 0 70px;
}

.cardlist__elements {
  display: grid;
  grid-gap: 32px 28px;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 319px;
  list-style-type: none;
  padding: 0px;
}

@media (max-width: 1279px) {
  .cardlist {
    margin: 70px 0 0 30px;
  }

  .cardlist__elements {
    grid-gap: 35px 24px;
    grid-template-columns: repeat(2, 342px);
    grid-template-rows: 309px;
  }
}

@media (max-width: 767px) {
  .cardlist {
    margin: 40px 0 0 10px;
  }

  .cardlist__elements {
    grid-gap: 16px 0;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: 271px;
  }
}